.title {
    padding: 10px 40px;
    background-color: peachpuff;
}

.menu {
    width: fit-content;
}

.menu-list {
    padding: 0 auto;
    margin-left: 50px;
    margin-top: 40px;
    position: sticky;
    top: 25px;
}

.menu-list li a {
    color: black;
    font-size: large;
    text-decoration: none;
    color: white;
}

.menu-list li {
    border: 1px solid white;
    margin-top: 5px;
    padding: 5px 3px;
    border-radius: 5px;
    background-color: rgb(44, 39, 39);
    text-align: center;
}

.them_dm,
.lk_dm,
.them_sp,
.lk_sp {
    font-weight: 700;
    text-align: center;
    font-size: 40px;
}

.bang {
    width: 50%;
    margin: 0 auto;
}

tbody tr td {
    padding: 10px;
}

th {}

th,
td {
    border: 1px solid black;
}

.table-lk {
    width: 100%;
    text-align: center;
    background-color: bisque;
}

.table-lk th {
    padding: 20px 5px;
    text-align: center;
}

.table-lk tbody tr td {
    border: 1px solid;
}

img {
    box-shadow: 0px 10px 20px black;
}